<!--<div class="course-list">-->
<!--  <h2>Turmas</h2>-->

<!--  <mat-list *ngIf="courses.length > 0; else emptyList">-->
<!--    <mat-list-item *ngFor="let course of courses">-->
<!--      <h3 matLine>{{ course.name }}</h3>-->
<!--      <p matLine>{{ course.description }}</p>-->
<!--    </mat-list-item>-->
<!--  </mat-list>-->

<!--  <ng-template #emptyList>-->
<!--    <p>Nenhuma turma cadastrada.</p>-->
<!--  </ng-template>-->
<!--</div>-->

<section class="card h-full">

  <section class="card-header flex flex-row justify-content-between align-items-center">
    <div class="flex flex-row align-items-center gap-3">
      <mat-form-field class="w-full sm:w-auto" appearance="outline">
        <mat-label>Buscar salas...</mat-label>
        <input matInput [(ngModel)]="searchTerm" (input)="onSearch()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-full sm:w-auto" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select (selectionChange)="onChangeStatus($event)">
          <mat-option value="all">Todas</mat-option>
          <mat-option value="Active">Ativa</mat-option>
          <mat-option value="Pending">Pendente</mat-option>
          <mat-option value="Overdue">Atrasada</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-flat-button class="button">Gerar relatório</button>
  </section>

  <section class="flex flex-column h-full justify-content-between">
    <section class="gap-4 mt-4">
      @for (classroom of paginatedClasses; track classroom.id) {
        <app-class-card
          [classroom]="classroom"
          (click)="onNavigate('school/courses/' + classroom.id)">
        </app-class-card>
      } @empty {
        <div class="flex justify-content-center align-items-center w-full">
          <p>
            <strong>Não há salas cadastradas.</strong>
          </p>
        </div>
      }
    </section>

    <section class="pagination flex justify-content-end align-items-center mt-4 ">
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        [length]="filteredClasses.length"
        (page)="onPageChange($event)">
      </mat-paginator>
    </section>
  </section>
</section>

