<mat-card>

  <mat-list>
    <h3>Nome</h3>
    <mat-list-item>
      <span matListItemTitle>n</span>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <h3>Apelido</h3>
    <mat-list-item>
      <span matListItemTitle>This is the title</span>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <h3>E-mail</h3>
    <mat-list-item>
      <span matListItemTitle>This is the title</span>
    </mat-list-item>
  </mat-list>
  <button mat-fab="edit">
    <mat-icon>edit</mat-icon>
  </button>
</mat-card>

