.class-card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 6px 24px 0 rgba(0,0,0,.04), 0 1.5px 3px 0 rgba(0,0,0,.08);
  transition: box-shadow 0.2s;
  min-width: 16rem;
  max-width: 20rem;
  margin: 0.75rem 0.5rem;
  cursor: pointer;
  position: relative;
  .mat-card-content {
    padding: 0 !important;
  }
}
