<section class="w-full">
  <mat-toolbar class="w-full justify-content-between">
    <span class="mat-title">{{ classroom?.name }}</span>
    <span class="toolbar-spacer"></span>
    <div>
      <button mat-icon-button color="primary" (click)="toggleEditMode()"
              [matTooltip]="editMode() ? 'Cancelar' : 'Editar'">
        <mat-icon>{{ editMode() ? 'close' : 'edit' }}</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete()" [disabled]="!editMode()" matTooltip="Excluir">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <!-- Wrapper centralizado e com largura máxima -->
  <section class="flex flex-column align-items-center justify-content-center">
    <mat-card class="mat-elevation-z2 w-full">
      <mat-card-content>
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="flex flex-column gap-3">
          <!-- Nome da sala -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nome da sala</mat-label>
            <input matInput formControlName="name" placeholder="Digite o nome da sala" [readonly]="!editMode()">
          </mat-form-field>

          <!-- Descrição -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="description" rows="3" placeholder="Digite a descrição"
                      [readonly]="!editMode()"></textarea>
          </mat-form-field>

          <!-- Dias de aula -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Dias de aula</mat-label>
            <mat-select formControlName="days_per_week" multiple [disabled]="!editMode()">
              @for (day of weekDayKeys; track day) {
                <mat-option [value]="day">{{ weekDayLabel[day] }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <!-- Horas por aula -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Horas por aula</mat-label>
            <mat-select formControlName="hours_per_class" [disabled]="!editMode()">
              @for (hour of hoursPerClassOptions; track hour) {
                <mat-option [value]="hour">{{ hour }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <!-- Botão Atualizar -->
          <div class="flex justify-content-between align-items-center">
            @if (!editMode()) {
              <span class="text-muted">Para editar as informações da sala, clique no botão de edição acima.</span>
            }
            <button mat-flat-button color="primary" type="submit" [disabled]="!settingsForm.valid || !editMode()">
              Atualizar
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

  </section>
</section>
