<section class="flex flex-column gap-2">
  <div class="flex flex-wrap gap-4 mb-3 justify-content-center">
    @if (teacherPerformance) {
      <app-teacher-kpi-cards></app-teacher-kpi-cards>
    } @else {
      <div class="w-full text-center text-secondary py-4">
        Carregando métricas do professor...
      </div>
    }
  </div>

  <mat-tab-group class="mt-4">
    <mat-tab label="Minhas Salas">
      <app-my-class-general></app-my-class-general>
    </mat-tab>
    <mat-tab label="Desempenho Geral">
      <app-my-class-metrics></app-my-class-metrics>
    </mat-tab>
  </mat-tab-group>
</section>
