<section class="flex flex-column w-fit h-full p-4">
  <h2 class="text-center text-black">
    {{ formTitleTxt }}
  </h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Campo Nome -->
    <mat-form-field appearance="outline" class="w-full">
      <input matInput placeholder="Digite seu nome" formControlName="name" type="text" class="text-black" required/>
      @if (registerForm.get('name')?.invalid && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)) {
        <small class="text-red-600">Nome é obrigatório</small>
      }
    </mat-form-field>

    <!-- Campo de E-mail -->
    <mat-form-field appearance="outline" class="w-full">
      <input matInput placeholder="Digite seu e-mail" formControlName="email" type="email" class="text-black"
             required/>
    </mat-form-field>

    <!-- Campo de Username -->
    <mat-form-field appearance="outline" class="w-full">
      <input matInput placeholder="Digite seu apelido" formControlName="username" type="username" class="text-black"
             required/>
    </mat-form-field>

    <!-- Campo de Senha -->
    <mat-form-field appearance="outline" class="w-full">
      <input matInput placeholder="Digite sua senha" formControlName="password" type="password" class="text-black"
             required/>
    </mat-form-field>


    <!-- Campo confirmar senha -->
    <mat-form-field appearance="outline" class="w-full">
      <input matInput placeholder="Confirmar senha" formControlName="confirmPassword" type="password"
             class="text-black" required/>

    </mat-form-field>


    <!-- Botão de Submit -->
    <button mat-fab extended color="primary" type="submit" class="w-full h-3rem mb-2 bg-white text-black-alpha-90"
            [disabled]="!registerForm.valid">
      {{ primaryBtnTxt }}
    </button>

    <!-- Botão voltar -->
    <button mat-fab extended class="w-full h-3rem bg-white text-black-alpha-90" type="button"
            (click)="this.onNavigate('auth/login')">
      {{ secondaryBtnTxt }}
    </button>
  </form>
</section>
