<section class="p-d-flex p-jc-center p-ai-center p-flex-column not-found-container">
  <mat-card class="not-found-card">
    <mat-card-title>Página não encontrada</mat-card-title>
    <mat-card-content>
      <p>Desculpe, a página que você está tentando acessar não existe.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onNavigate('home')">
        Voltar para a página inicial
      </button>
    </mat-card-actions>
  </mat-card>
</section>
