<main class="flex flex-row h-screen overflow-hidden">
  <!-- Sidebar -->
    <aside class="menu text-white flex flex-column transition-all duration-300 ease-in-out"
           [ngClass]="{ 'w-3rem': isCollapsed, 'w-15rem': !isCollapsed }">
      <div class="flex align-items-center justify-content-center py-4 border-bottom-1 border-white border-opacity-10"
           [ngClass]="{ 'px-2': isCollapsed, 'px-4': !isCollapsed }">
        @if (isCollapsed) {
          <div class="text-xl font-bold">
            <mat-icon class="flex-shrink-0">school</mat-icon>
          </div>
        } @else {
          <div class="flex align-content-center gap-3 text-xl font-bold whitespace-nowrap">
            <mat-icon class="flex-shrink-0">school</mat-icon>
            {{ appNameTxt }}
          </div>
        }
      </div>

      <!-- Menu Items -->
<!--      < class="flex flex-column gap-1 w-full flex-grow-1 p-2">-->
        @for (item of menuItems; track item.label) {
          <a (click)="onNavigate(item.route)"
             [class.active-menu-item]="activeRoute === item.route"
             class="cursor-pointer border-round-md hover:bg-primary-700 flex align-items-center
             transition-all no-underline text-white"
             [ngClass]="{ 'justify-content-center p-2 align-items-center': isCollapsed, 'justify-content-start p-3': !isCollapsed }">
            <mat-icon class="flex-shrink-0">{{ item.icon }}</mat-icon>
            @if (!isCollapsed) {
              <span class="text-sm font-medium whitespace-nowrap ml-3">
                {{ item.label }}
              </span>
            }
          </a>
        }
        <a (click)="onLogout()"
           class="cursor-pointer border-round-md hover:bg-primary-700 flex align-items-center transition-all no-underline text-white"
           [ngClass]="{ 'justify-content-center p-2': isCollapsed, 'justify-content-start p-3': !isCollapsed }">
          <mat-icon class="flex-shrink-0">logout</mat-icon>
          @if (!isCollapsed) {
            <span class="text-sm font-medium whitespace-nowrap ml-3">
              Sair
            </span>
          }
        </a>

    </aside>

  <div class="flex-grow-1 flex flex-column overflow-hidden">
    <!-- Toolbar -->
    <header class="bg-white shadow-1 flex align-items-center justify-content-between p-3">
      <div class="flex align-items-center gap-3">
        <button mat-icon-button (click)="toggleMenu()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="text-lg font-medium">{{ currentTitle }}</span>
      </div>
      <div class="flex align-items-center gap-3">
        <!-- Toolbar actions here -->
      </div>
    </header>


  <!-- Main Content -->
    <div class="flex-grow-1 overflow-auto p-4 bg-gray-50">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
