<main class="h-screen w-full bg-richBlack p-2 grid grid-cols-12 gap-4">
  <!-- Card do Formulário -->
  <mat-card class="col-span-4 bg-white p-6 shadow-lg rounded-lg">
    <section class="flex flex-col items-center gap-4">
      <h2 class="text-center text-2xl font-bold text-gray-800">
        Bem-vindo!
      </h2>
      <mat-divider></mat-divider>
      <ng-content></ng-content>
    </section>
  </mat-card>

  <!-- Área para animações ou outros conteúdos -->
  <div class="col-span-8 bg-gray-100 rounded-lg p-6">
    <!-- Futuras animações ou conteúdo aqui -->
  </div>
</main>
