<main class="flex h-screen w-full p-2 gap-4">
  <!-- Card do Formulário -->
  <mat-card class="flex lg:w-5 md:w-5 h-screen p-6 align-items-center shadow-lg rounded-lg bg-black-alpha-90">
    <ng-content></ng-content>
  </mat-card>

  <!-- Área para animações ou outros conteúdos -->
  <section class="flex body md:w-full h-full border-round-2xl justify-content-center align-items-center">
      <img src="assets/logo-white-bit-academy.svg" alt="Logo Bit Academy">
    <!-- Futuras animações ou conteúdo aqui class="col-span-8 bg-gray-100 rounded-lg p-6" -->
  </section>
</main>
