<section class="flex w-full h-full gap-4 mt-4">
  @for (classroom of paginatedClasses; track classroom.id) {
<!--    <app-class-->
<!--&lt;!&ndash;      [classroom]="classroom"&ndash;&gt;-->
<!--      (click)="onNavigate('school/home/' + classroom.id)">-->
<!--    </app-class>-->
  } @empty {
    <p>
      <strong>Não há salas cadastradas.</strong>
    </p>
  }
</section>


<section class="pagination flex justify-content-end align-items-center mt-4">
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    [length]="filteredClasses.length"
    (page)="onPageChange($event)">
  </mat-paginator>
</section>


