<mat-dialog-container>
  <form class="flex flex-column gap-3" [formGroup]="classForm">
    <mat-card-header>
      <mat-card-title>Nova sala</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nome da sala</mat-label>
      <input matInput formControlName="name" placeholder="Digite o nome da sala" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" placeholder="Digite a descrição da sala" required></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
  </form>
</mat-dialog-container>
