<section class="flex flex-column justify-content-center h-screen w-fit p-4">
  <h2 class="text-center text-black">
    {{ formTitleTxt }}
  </h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full">
    <!-- Campo de E-mail -->
    <mat-form-field appearance="outline" class="w-full">
      <input
        matInput
        placeholder="Digite seu e-mail"
        formControlName="email"
        type="email"
        class="text-black"
        required
      />

    </mat-form-field>

    <!-- Campo de Senha -->
    <mat-form-field appearance="outline" class="w-full">
      <input
        matInput
        placeholder="Digite sua senha"
        formControlName="password"
        type="password"
        class="text-black"
        required
      />

    </mat-form-field>

    <!-- Botão de Submit -->
    <button
      mat-fab extended
      color="primary"
      type="submit"
      class="w-full h-3rem mb-2 bg-white text-black-alpha-90"
      [disabled]="!loginForm.valid"
    >
      {{ primaryBtnTxt }}
    </button>

    <!-- Botão ir ao cadastro-->
    <button
      mat-fab extended
      class="w-full h-3rem bg-white text-black-alpha-90"
      (click)="this.onNavigate('auth/signup')">
      {{ secondaryBtnTxt }}
    </button>
  </form>
</section>
