<!-- select-plataform.component.html -->

<section class="login-page relative">
  <!-- Imagem no canto superior esquerdo (mantendo sua posição original) -->
    <img src="assets/logo-white-bit-academy.svg" alt="logo" class="absolute top-0 md:right-0 m-4">

  <!-- Container centralizado com PrimeFlex -->
  <div class="flex justify-content-center align-items-center min-h-screen">
    <div class="login-card w-full max-w-md">
      <!-- Header -->
      <div class="justify-content-center mb-4">
        <h2 class="text-center text-white">
          {{ formTitleTxt }}
        </h2>
      </div>

      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <!-- E-mail -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-icon matPrefix>mail</mat-icon>
          <input
            matInput
            placeholder="Digite seu e-mail"
            formControlName="email"
            type="email"
            required
            class="text-white"
          />
        </mat-form-field>

        <!-- Senha -->
        <mat-form-field appearance="outline" class="w-full">
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            placeholder="Digite sua senha"
            formControlName="password"
            type="password"
            required
            class="text-white"
          />
          <button matSuffix mat-icon-button type="button">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-form-field>

        <div class="flex justify-content-center gap-2">
          <!-- Botão de Submit -->
          <button
            mat-fab extended
            type="submit"
            [disabled]="!loginForm.valid"
            class="flex btn-primary w-10rem"
          >
            {{ primaryBtnTxt }}
          </button>

          <!-- Botão ir ao cadastro -->
          <button
            mat-fab extended
            type="button"
            (click)="onNavigate('auth/signup')"
            class="flex btn-secondary p-3 w-10rem"
          >
            {{ secondaryBtnTxt }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>


