<main class="flex flex-column gap-4">
  <section class="welcome-container flex flex-column md:flex-row align-items-center justify-content-center text-center md:text-left px-4 py-8 gap-6">
    <div class="welcome-text p-4">
      <h1 class="text-4xl md:text-5xl font-bold text-green-900 mb-4">
        Seja bem-vindo ao <span class="text-green-600">Bit Class</span>
      </h1>
      <p class="text-xl text-green-700 font-medium mb-6">
        Gerencie suas turmas, alunos e atividades de forma simples e eficiente.
      </p>
      <div class="flex flex-wrap gap-3 justify-content-center md:justify-content-start">
        <button mat-raised-button class="bg-black-alpha-50 px-5 py-2 font-bold text-white rounded-full" (click)="onNavigate('class/my-class')">
          <mat-icon>co_present</mat-icon>
          Acessar Salas
        </button>
      </div>
    </div>

    <div class="welcome-illustration max-w-30rem">
      <img src=".\assets\class.svg" alt="Ilustração educação Bit Class" class="w-full" />
    </div>
  </section>
</main>
