<!--<mat-card class="student-card cursor-pointer p-3 flex flex-row align-items-center gap-3 hover:shadow-3 transition-shadow">-->
<!--  <img [src]="student.avatarUrl" class="rounded-full" width="48" height="48" alt="Avatar do aluno"/>-->
<!--  <div class="flex flex-column flex-1">-->
<!--    <span class="font-bold text-lg">{{ student.name }}</span>-->
<!--    <mat-progress-bar mode="determinate" [value]="student.performance" color="primary"></mat-progress-bar>-->
<!--    <small class="text-secondary">Desempenho: {{ student.performance | number: '1.0-2' }}%</small>-->
<!--  </div>-->
<!--</mat-card>-->
