body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #101419;
  color: white;
}

.platform-card {
  transition: all 0.2s ease;
  background-color: #151515 !important;
  border: 1px solid #444 !important;
}

.platform-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
  background-color: #3a3a3a !important;
}

.icon-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

mat-card {
  background: #2d2d2d;
  color: white;
}
